.about{
    font-family: 'Inter';
      font-style: normal;
      font-weight: 800;
      font-size: 30px}
.about1{
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color:black}